<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
</head>
    <body>

        

        <h1> HEART DISEASE PREDICTION </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> First value :  <input type="text", name='age', placeholder="enter age"> <br><br>
            Second value :  <input type="text", name='sex', placeholder="enter sex"> <br><br>
            Third value :  <input type="text", name='cp', placeholder="enter cp"> <br><br>
            Fourth value : <input type="text", name='trestbps', placeholder="enter trestbps"> <br><br><br>
            Fifth value : <input type="text", name='chol', placeholder="enter chol"> <br><br><br>
            Sixth value : <input type="text", name='fbs', placeholder="enter fbs"> <br><br><br>
            Seventh value : <input type="text", name='restecg', placeholder="enter restecg"> <br><br><br>
            Eigth value : <input type="text", name='thalach', placeholder="enter thalach"> <br><br><br>
            Ninth value : <input type="text", name='exang', placeholder="enter exang"> <br><br><br>
            Tenth value : <input type="text", name='oldpeak', placeholder="enter oldpeak"> <br><br><br>
            Eleventh value : <input type="text", name='slope', placeholder="enter slope"> <br><br><br>
            Twelth value : <input type="text", name='ca', placeholder="enter ca"> <br><br><br>
            Thirteenth value : <input type="text", name='thal', placeholder="enter thal"> <br><br><br>
            

            

        </b>
            <input type="submit" , value='predict!' >
        </form>

        
        
    

    </body>
</html>